@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #fffffd;
}
.topBar{
    width: 100%;
    display: flex;
    background-color: #0a6789;
    justify-content: center;
}


.topBar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.topBar a{
    color: white;
    text-decoration: none;
    font-size: 4vh;
    text-shadow: 2px 2px #000000;
}

section{
    display: flex;
    flex-direction: row;
}

.containerLeft{
    display: flex;
    flex-direction: column;
    padding: 60px;
}

h1{
    font-size: 6vh;
    padding-bottom: 40px;
    line-height: 6.5vh;
    font-weight: bold;
}

.containerLeft img{
    border-radius: 2%;
    box-shadow: 1px 3px 7px black;
    margin-bottom: 1vh;
    max-width: 100vh;
}

.containerLeft span{
    font-size: 1.5vh;
    padding-left: 1.2vh;
    margin-bottom: 2vh;
    display: block;
}
.containerLeft a{
    padding-left: 1.2vh;
}
.containerLeft p{
    padding-left: 1.2vh;
    background-color: #dbdada;
    padding: 23px;
    border-radius: 5px;
    font-size: 2.2vh;
    max-width: 100vh;
}

.containerRight{
    margin-top: 15vh;
}
.containerRight h2{
    font-size: 4vh;
}

.containerRight p{
    border: #000000;
    margin-top: 3vh;
    margin-right: 20vh;
    border-bottom: 3px solid black;
    width: 24vh;
    font-size: 2.2vh;
    padding-bottom: 1vh;
}

.containerRight a{

}

.containerPag{
    width: calc(100% - 2rem);
    display: flex;
    position: absolute;
    bottom: 1px;
    padding: 1rem 0;
    justify-content: center;
}
.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem; 
  margin: 0 2vh 0 2vh;
}

